.footer {
  background-color: red;
}

.containerFooter {
  width: 1280px;
  margin: auto;
}

.containerFooter {
  width: 1280px;
  margin: auto;
}

.liFooter {
  color: white;
  list-style-type: none;
  margin-bottom: 10px;
  width: 50px
}

.liFooter:Hover {
  text-decoration: underline;
  cursor: pointer;
}

.containerFooter > nav {
  padding-top: 10px;
}

.containerFooter > address {
  color: white;
  padding-top: 10px;
  margin-left: 40px;
  padding-bottom: 20px;
}